body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  line-height: 24px;
  background-color: #ffffff;
}

.maincontainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

p {
  padding-left: 0;
}

h3 {
  padding-left: 0;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.features-section .container ul {
  display: flex;
  gap: 24px;
}

.features-section .container li {
  flex-basis: calc((100%-72px) / 4);
}

.logospan {
  color: #2e2f42;
}

.logospan-footer {
  color: #f4f4fd;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.nav-li {
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
}

.nav-li:hover,
.nav-li:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address ul {
  display: flex;
  gap: 40px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.btn {
  font-family: 'Roboto', sans-serif;
  color: white;
  cursor: pointer;
  font-weight: 500;
  background-color: #4d5ae5;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 2px 4px #2e2f42;
  display: block;
  min-width: 169px;
  margin: auto;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.second-h {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.third-h {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.paragraph {
  letter-spacing: 0.02em;
}

.paragraph-footer {
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.paragraph-footer-social {
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 16px;
}

.section {
  padding: 120px 0;
}

main {
  flex-grow: 1;
}

.section-title {
  position: relative;
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  margin: auto;
}

.icon {
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  margin-bottom: 32px;
  padding: 0 16px;
  gap: 24px;
}

.social-media {
  margin-left: 120px;
}

.social-media .social-icons {
  padding: 0;
}

.social-icons-ul {
  padding: 0; /* Удаляем внутренний отступ у списка */
}

.bc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  fill: #fff;
}

.title {
  max-width: 496px;
  color: white;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: auto;
  margin-bottom: 48px;
}

.team {
  background-color: #f4f4fd;
}

.teamlist {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team .container ul {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.team .container li {
  flex-basis: calc((1128px - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.card-container {
  padding-top: 32px;
}

.card-container-p {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-portfolio .container ul {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio {
  border-radius: 0px 0px 4px 4px;
}

.footer {
  background-color: #2e2f42;
  color: white;
  padding: 100px 0;
}

.contacts {
  color: #434455;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.third-h-team {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.paragraph-team {
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.third-h-portfolio {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.paragraph-portfolio {
  letter-spacing: 0.02em;
}

.footer .container {
  display: flex;
}

.footer-content-a {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .container p {
  max-width: 264px;
}

img {
  display: block;
}
